@model List<Movies>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to the Movie Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, Helvetica, sans-serif, sans-serif;
        }

        .container {
            margin-top: 50px;
            display:flex;
            flex-direction:column;
        }

        .jumbotron {
            background-color: #340618;
            color: #fff;
            padding: 20px;
        }

            .jumbotron h1 {
                font-size: 36px;
            }

        .movie-list {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }

        .movie-card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
            background-color: #fff;
        }

        .movie-title {
            font-size: 24px;
        }

        .movie-description {
            font-size: 16px;
        }

        .movie-details {
            margin-top: 10px;
            font-size: 14px;
        }

        .movie-poster img {
            margin: 10px;
            max-width: 100%;
            height: 350px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        a, a:hover{
            color:#000;
            text-decoration:none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the Moview Library</h1>
            <p>Explore our collection of movies.</p>
        </div>
        <form method="get" action="/Movies/FilterMovies">
            <label for="selectedLanguage">Select Language:</label>
            <select name="selectedLanguage" id="selectedLanguage">
                <option value="English">English</option>
                <option value="Spanish">Spanish</option>
                <option value="French">French</option>
                <option value="Turkish">Turkish</option>
            </select>
            <label for="selectedGenre">Select Genre:</label>
            <select name="selectedGenre" id="selectedGenre">
                <option value="Drama">Drama</option>
                <option value="Crime">Crime</option>
                <option value="Comedy">Comedy</option>
                <option value="Action">Action</option>
                <option value="Fantasy">Fantasy</option>
            </select>
            <label for="selectedIMDB">Select Min IMDB:</label>
            <select name="selectedIMDB" id="selectedIMDB">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
            <label for="selectedName">Search:</label>
            <input type="text" placeholder="Search Movies or Directors" name="selectedName" id="selectedName">
            <input type="submit" value="Filter">
        </form>

        
        <!-- Daha fazla film afişi ekleyin -->
        <div class="movie-list">
            @if(Model.Any()){
                @foreach (var movie in Model)
                {
                    <!-- Örnek film kartı -->
                    <a asp-controller="Movies" asp-action="MoviePage" asp-route-id="@movie.MovieId" type="button">

                        <div class="movie-card">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="movie-poster">
                                        <img src="@movie.PosterUrl" alt="Top Gun Maverick" />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h2 class="movie-title">@movie.Title</h2>
                                    <p class="movie-description"> @movie.Description</p>
                                    <div class="movie-details">
                                        <p><strong>Genre:</strong> @movie.Genre</p>
                                        <p><strong>Director:</strong> @movie.Director</p>
                                        <p><strong>Release Date:</strong> @movie.ReleaseDate</p>
                                        <p><strong>Runtime:</strong> @(movie.Runtime / 60)h@(movie.Runtime % 60)m </p>
                                        <p><strong>Language:</strong> @movie.Language</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
            else
            {
                <p>No movies found for the selected language.</p>
            }
            

        </div>
    </div>
</body>
</html>
