@model List<Movies>

<style>
    p{
        color:white;
    }
    img{
        width:250px;
    }
</style>
<div class="movies-container">
    <div class="section">
        <h1>Most Popular</h1>
        @foreach (var movie in Model.OrderByDescending(x => x.Rating).Take(5))
        {
            <a asp-controller="Movies" asp-action="MoviePage" asp-route-id="@movie.MovieId" type="button">
                <div class="Poster">
                    <img src="@movie.PosterUrl" />
                    <p>@movie.Title</p>
                    <p>Runtime: @(movie.Runtime / 60)h@(movie.Runtime % 60)m</p>
                </div>
            </a>
        }
        <br />
        <h1>New Releases</h1>
        @foreach (var movie in Model.OrderByDescending(x => x.ReleaseDate).Take(5))
        {
            <a asp-controller="Movies" asp-action="MoviePage" asp-route-id="@movie.MovieId" type="button">
                <div class="Poster">
                    <img src="@movie.PosterUrl" />
                    <p>@movie.Title</p>
                    <p>@movie.ReleaseDate</p>
                </div>
            </a>
        }
        <br />
        <h1>Best of IMDB</h1>
        @foreach (var movie in Model.OrderByDescending(x => x.IMDB).Take(5))
        {
            <a asp-controller="Movies" asp-action="MoviePage" asp-route-id="@movie.MovieId" type="button">
                <div class="Poster">
                    <img src="@movie.PosterUrl" />
                    <p>@movie.Title</p>
                    <p>IMDB: @movie.IMDB.ToString("0.0")</p>
                </div>
            </a>
        }
    </div>
</div>