@using Microsoft.AspNetCore.Identity;
@model Movies
@inject UserManager<ApplicationUser> UserManager

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #340618;
        color: #fff;
    }

    .movie-container {
        width: 80%;
        height:100%;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
    }

    .trailer-container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .trailer-container iframe {
        width: 100%;
        height: 450px;
    }

    .movie-details {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .movie-details h1 {
        font-size: 24px;
    }

    .movie-details p {
        font-size: 16px;
        color: white;
        margin: 5px;
    }

    .description {
        text-align: center;
    }

    .description p {
        font-size: 16px;
    }

    .comments {
        text-align: left;
        margin-top: 20px;
    }

    .comment-form {
        margin-bottom: 20px;
    }

    .comment-form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: vertical;
    }

    .comment {
        margin-bottom: 10px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
    }

    a{
        color: white;
        text-decoration:none;
    }
    a:hover{
        color: white;
    }

</style>

<div class="movie-container">
    <div class="trailer-container">
        <iframe width="560" height="315" src="@Model.TrailerUrl" frameborder="0" allowfullscreen></iframe>
    </div>
    <h1>@Model.Title</h1>
    <div class="movie-details">
        <p><strong>Director:</strong> @Model.Director</p>
        <p><strong>Runtime:</strong> @(Model.Runtime / 60)h@(Model.Runtime % 60)m</p>
        <p><strong>IMDb Rating:</strong> @Model.IMDB.ToString("0.0")</p>
        <p><strong>Rating: </strong> @(Model.Reviews.Any() ? Model.Reviews.Average(r => r.Rating).ToString("0.00") : "N/A")</p>
    </div>
    <div class="description">
        <p>@Model.Description</p>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        @if(User.Identity.IsAuthenticated){
            <a class="nav-link text-white" asp-controller="Reviews" asp-action="Index" asp-route-id="@Model.MovieId">Add Review</a>
        }
        else
        {
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login to leave a review</a>
        }

        @foreach(var review in Model.Reviews)
        {
            <div class="comment">
                <p>@review.ReviewDate, @review.Rating</p>
                <p>
                    <strong>
                        @(UserManager.FindByIdAsync(review.UserId).Result.FirstName) @(UserManager.FindByIdAsync(review.UserId).Result.LastName): 
                    </strong> @review.Comment
                </p>
                <a asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.ReviewId">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                    </svg>Delete
                </a>
            </div>
        }
    </div>
</div>